*               text=auto
*.py            text diff=python
*.sh       	text eol=lf
*.md            linguist-detectable

.gitattributes  export-ignore
.gitignore      export-ignore

*.gitattributes linguist-language=gitattributes
*.gitattributes linguist-detectable=true
*.gitattributes linguist-documentation=false
